.bankAccount {
    display: grid;
    padding: 0 0 35px 0;
    grid-template-areas:
        "edit edit" 
        "logo title"
        "associated associated";
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    max-width: 500px;
    .logo {
        align-self: center;
        justify-self: end;
        max-height: 100px;
        padding-left: 40px;
    }
    .bankAccountTitle {
        margin-right: 40px;
        grid-area: title;
        align-self: center;
        justify-self: center;
        .name, .balance {
            display: block;
            margin: 0;
        }
    }
    .action {
        grid-area: edit;
        padding: 5px;
        justify-self: end;
    }
    .associated {
        padding: 20px 20px 0 20px;
        grid-area: associated;
    }
    .until {
        grid-area: until;
    }
    &:hover{
        .action {
            visibility: visible;
            color: @action;
        }
    }
}